body {
    font: normal 1rem Arial, Helvetica, sans-serif;
    color: white;
    background-image: url(../imagens/bgcap.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 20px;
    align-items: center;
    background-image: linear-gradient(to right, rgb(4, 0, 85), rgb(10, 0, 204));
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.529); 
}
.img {
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.618);
}
div {
    display: flex;
    align-items: center;
    gap: 10px;
}
nav {
    display: flex;
    gap: 10px;
    
}
a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.529);
    border-radius: 10px;
    padding: 6px;   
}
a:hover {
    background-color: rgb(0, 51, 179);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.316);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.707);
}
@media (max-width: 500px) {
    a {
        font-size: 1.2rem;
    }
    
} 
h1 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.529);
    
}

